{% extends 'blog/base.html' %}
{% block content %}

 <div class="jumbotron jumbotron-fluid">
   <h1 class="text-center">Edit Profile!</h1>
 </div>
 <div class="col-md-6 offset-md-3">
 <form class="" action="{% url 'edit_profile' %}" method="post">
   {% csrf_token %}
   {% if form.errors %}
  <ul class="alert alert-warning">
    {% for field in form %}
      {% if field.errors %}
      {{ field.errors }}
      {% endif %}
    {% endfor %}
  </ul>
    {% endif %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-dark" name="" value="Edit Profile">
 </form>
 </div>
 <br>
 <br>

{% endblock %}
