{% extends "blog/base.html" %}
{% block content %}
<div class="jumbotron">
<h1>New Post</h1>
{% if user.is_authenticated %}
</div>
<form class="post-form" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="save btn btn-primary" name="button">Save</button>
</form>
{% else %}
<div class="jumbotron">
  <p>)Please login/register to view this page content</p>
</div>
{% endif%}
<script type="text/javascript">
  var editior = new MediumEditor('.editable');
</script>
{% endblock %}
