{% extends "blog/base.html" %}
{% block content %}

<h1 class="posttitle loader">{{ post.title }}</h1>
{% if post.published_date %}
<div class="date postdate">
  {{ post.published_date }}
</div>
{% else %}
<br>
<a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">post</a>
<br>
<br>
<br>
{% endif %}
<p class="postcontent" >{{ post.text|safe|linebreaksbr }}</p>
{% if user.is_authenticated and user == post.author %}
<a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">
  Edit
</a>
<a class="btn btn-primary" href="{% url 'post_remove' pk=post.pk %}">
  Remove
</a>
{% endif %}
<hr>


<a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
 <div class="container">


 {% for comment in post.comments.all %}
 <br>

         <p>{{ comment.text|safe|linebreaks }}</p>
         <p>Posted by: <strong>{{ comment.author }}</strong></p>


 {% empty %}
     <p>No comments posted.</p>
 {% endfor %}

{% endblock %}
